/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
}

.tit {
	text-align: center;
	color: rgb(196, 146, 204);
	font-size: 3em;
	background-color: hsl(293, 62%, 45%);

}

.background {

	background-color: hsl(288, 82%, 68%);


}

body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	background: #fff url() no-repeat bottom right;
	margin: 0;
	padding: 0;
}

p {
	margin-top: 0;
	text-align: justify;
	font-size: 1.2em;
	color: hsl(0, 0%, 0%);
}

.tit2 {
	text-align: center;
	font-family: "Sofia", sans-serif;
}



h3 {
	font: italic normal 1.4em georgia, sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
	margin-bottom: 0;
	color: rgb(158, 0, 132);
	font-size: 2em;


}

.module {
	stroke: #000000;
	stroke-width: 1px;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: hsl(288, 30%, 44%);
	text-decoration-line: underline;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #D4CDDC;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
	color: #9685BA;

}

abbr {
	border-bottom: none;

}


/* specific divs */
.page-wrapper {
	background: url() no-repeat top left;
	background-color: rgb(231, 166, 223);
	padding: 0 175px 0 110px;
	margin: 0;
	position: relative;
}

.intro {
	min-width: 470px;
	width: 100%;
}

header h1 {
	background: transparent url() no-repeat top left;
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

header h2 {
	margin-top: 58px;
	margin-bottom: 40px;
	width: 200px;
	height: 18px;
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	clear: both;
	margin: 20px 20px 20px 10px;
	width: 160px;
	float: left;
	font-size: 1.5em;
	color: hsl(0, 0%, 0%);
}

.summary p {
	font: italic 1.1em/2.2 georgia;
	text-align: center;
	font-size: 1.2em;
	color: hsl(0, 0%, 0%);
}

.preamble {
	clear: right;
	padding: 0px 10px 0 10px;
	font-size: 1.3em;
	color: hsl(0, 0%, 0%);
}

.supporting {
	padding-left: 10px;
	margin-bottom: 40px;
}

footer {
	text-align: center;
}

footer a:link,
footer a:visited {
	margin-right: 20px;
}

.sidebar {
	margin-left: 600px;
	position: absolute;
	top: 0;
	right: 0;
	color: hsl(288, 82%, 68%);

}

.sidebar .wrapper {
	font: 10px verdana, sans-serif;
	background: transparent url() top left repeat-y;
	background-color: rgb(158, 0, 132);
	padding: 10px;
	margin-top: 150px;
	width: 130px;
}

.sidebar h3.select {
	background: transparent url() no-repeat top left;
	margin: 10px 0 5px 0;
	width: 97px;
	height: 16px;
	color: #000000;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.sidebar h3.archives {
	background: transparent url() no-repeat top left;
	margin: 25px 0 5px 0;
	width: 57px;
	height: 14px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.sidebar h3.resources {
	margin: 25px 0 5px 0;
	width: 63px;
	height: 10px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


.sidebar ul {
	margin: 0;
	padding: 0;

}

.sidebar li {
	line-height: 1.3em;
	background: transparent url() no-repeat top center;
	display: block;
	padding-top: 5px;
	margin-bottom: 5px;
	list-style-type: none;
}

.sidebar li a:link {
	color: #000000;
}

.sidebar li a:visited {
	color: #6e6e6d;
}


.extra1 {
	background: transparent url() top left no-repeat;
	position: absolute;
	top: 40px;
	right: 0;
	width: 148px;
	height: 110px;
}